* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

main {
    background-color: hsl(225, 100%, 94%);
    background-image: url('../img/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    padding: 24px;
}

.order-card {
    border-radius: 18px;
    background-color: #fff;
    overflow: hidden;
    max-width: 450px;
    margin: auto;
}

.order-card__image {
    width: 100%;
    height: 100%;
}

.order-card__body {
    padding: 32px 24px 18px 24px;
}

.order-card__title {
    font-size: 22px;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    text-align: center;
    margin-bottom: 18px;
}

.order-card__desc {
    font-size: 16px;
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    max-width: 90%;
    margin: auto;
    margin-bottom: 26px;
}

.order-card__plan {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 10px;
}

.order-card__plan-icon {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.order-card__plan-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 3px;
    color: hsl(223, 47%, 23%);
}

.order-card__plan-price {
    font-size: 14px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.order-card__plan-button {
    margin-left: auto;
    color: hsl(245, 75%, 52%);
    font-size: 13px;
    font-weight: 900;
    transition: all .3s ease;
}

.order-card__plan-button:hover {
    color: #766CF1;
    text-decoration: none;
}

.order-card .button {
    display: block;
    width: 100%;
}

.order-card .button:last-child {
    margin-bottom: 0px;
}

.button {
    border: none;
    background-color: rgb(255, 255, 255);
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    border-radius: 10px;
    padding: 16px 28px;
    text-align: center;
    display: inline-block;
    margin-bottom: 8px;
    transition: all .3s ease;
}

.button:hover {
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}

.button--primary {
    background-color: hsl(245, 75%, 52%);
    color: #fff;
}

.button--primary:hover {
    background-color: #766CF1;
    color: #fff;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) { 
    .order-card__body {
        padding: 46px 48px 34px 48px;
    }
    .order-card__title {
        font-size: 28px;
    }
    .order-card__desc {
        font-size: 17px;
        margin-bottom: 22px;
    }
    .order-card__plan {
        padding: 24px;
        margin-bottom: 32px;
    }
    .order-card__plan-title {
        font-size: 17px;
        margin-bottom: 6px;
    }
    .order-card__plan-price {
        font-size: 16px;
    }
    .order-card__plan-button {
        font-size: 14px;
    }
    .button {
        margin-bottom: 16px;
    }
}